{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} GNEPA{% endblock %}

{% block body %}
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3>ASCCI</h3>
					<h5>Formation GNEPA</h5>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore modi quibusdam exercitationem vel corrupti saepe, voluptatem expedita illo deserunt facilis nulla aspernatur ipsum in laudantium odio quo vero ullam architecto.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col bouton">
					<a href="formulaire.html" class="btn btn-primary btn-lg"><i class="las la-save"></i> S'inscrire </a>
					<a href="#" class="btn btn-outline-danger btn-lg"><i class="las la-hand-holding-usd"></i> Paiement</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
