{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} GNEPA{% endblock %}

{% block body %}
	<div class="wrapper">
		<div class="container">
			<div class="row" data-aos="zoom-in-left" data-aos-duration="3000">
				<div class="col-md-12">
					<h3>ASCCI</h3>
					<h5>{{ activite.nom }}</h5>
					<p>
						{{ activite.description|raw }}
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col bouton" data-aos="fade-right" data-aos-duration="3000" >
					<a href="#" class="btn btn-primary btn-lg" onclick="matricule()"><i class="las la-save"></i> S'inscrire </a>
					<a href="#" class="btn btn-outline-danger btn-lg" onclick="paiement()"><i class="las la-hand-holding-usd"></i> Paiement</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}

{% endblock %}
