<div class="info-participant row form-group">
	<div class="col-md-4 mt-3" style="text-align:left;">
		<label for="scout_participant_stage1" class="form-label">Nature du stage 1</label>
		<input type="text" class="form-control" name="scout_participant_stage1" autocomplete="off">
	</div>
	<div class="col-md-2 mt-3" style="text-align:left;">
		<label for="scout_participant_date1" class="form-label">Date 1</label>
		<select name="scout_participant_date1" id="date" class="form-control date">
			<option value=""></option>
		</select>
	</div>
	<div class="col-md-4 mt-3" style="text-align:left;">
		<label for="scout_participant_lieu1" class="form-label">Lieu du stage 1</label>
		<input type="text" class="form-control" name="scout_participant_lieu1" autocomplete="off">
	</div>
	<div class="col-md-2 mt-3" style="text-align:left;">
		<label for="scout_participant_titularisation1" class="form-label">Titularisation 1</label>
		<select name="scout_participant_titularisation1" id="ede" class="form-control date">
			<option value=""></option>
		</select>
	</div>
	<div class="col-md-4 mt-3" style="text-align:left;">
		<label for="scout_participant_stage1" class="form-label">Nature du stage 2</label>
		<input type="text" class="form-control" name="scout_participant_stage1" autocomplete="off">
	</div>
	<div class="col-md-2 mt-3" style="text-align:left;">
		<label for="scout_participant_date1" class="form-label">Date 2</label>
		<select name="scout_participant_date1" id="date" class="form-control date">
			<option value=""></option>
		</select>
	</div>
	<div class="col-md-4 mt-3" style="text-align:left;">
		<label for="scout_participant_lieu1" class="form-label">Lieu du stage 2</label>
		<input type="text" class="form-control" name="scout_participant_lieu1" autocomplete="off">
	</div>
	<div class="col-md-2 mt-3" style="text-align:left;">
		<label for="scout_participant_titularisation1" class="form-label">Titularisation 2</label>
		<select name="scout_participant_titularisation1" id="ede" class="form-control date">
			<option value=""></option>
		</select>
	</div>
	<div class="col-md-4 mt-3" style="text-align:left;">
		<label for="scout_participant_stage1" class="form-label">Nature du stage 3</label>
		<input type="text" class="form-control" name="scout_participant_stage1" autocomplete="off">
	</div>
	<div class="col-md-2 mt-3" style="text-align:left;">
		<label for="scout_participant_date1" class="form-label">Date 3</label>
		<select name="scout_participant_date1" id="date" class="form-control date">
			<option value=""></option>
		</select>
	</div>
	<div class="col-md-4 mt-3" style="text-align:left;">
		<label for="scout_participant_lieu1" class="form-label">Lieu du stage 3</label>
		<input type="text" class="form-control" name="scout_participant_lieu1" autocomplete="off">
	</div>
	<div class="col-md-2 mt-3" style="text-align:left;">
		<label for="scout_participant_titularisation1" class="form-label">Titularisation 3</label>
		<select name="scout_participant_titularisation1" id="ede" class="form-control date">
			<option value=""></option>
		</select>
	</div>
</div>
