<div class="info-perso row form-group text-left">
	<div class="col-md-6 mt-3" style="text-align:left;">
		<label for="scout_etude" class="form-label">Niveau d'étude</label>
		<select name="scout_niveau_etude" id="" class="form-control">
			<option value="">-- Selectionnez votre niveau d'étude --</option>
			<option value=""></option>
			<option value="COLLEGE">COLLEGE</option>
			<option value="LYCEE">LYCEE</option>
			<option value="BAC">BAC</option>
			<option value="BAC+1">BAC + 1</option>
			<option value="BAC+2"> BAC + 2</option>
			<option value="BAC+3">BAC + 3</option>
			<option value="BAC+4">BAC + 4</option>
			<option value="BAC+5">BAC + 5</option>
			<option value="BAC+6">BAC + 6</option>
			<option value="BAC+7+">BAC + 7+</option>
		</select>
	</div>
	<div class="col-md-6 mt-3" style="text-align:left;">
		<label for="scout_profession" class="form-label">Profession actuelle</label>
		<input type="text" class="form-control" name="scout_profession" autocomplete="off">
	</div>
	<div class="col-md-6 mt-3" style="text-align:left;">
		<label for="scout_residence" class="form-label">Lieu de résidence</label>
		<input type="text" class="form-control" name="scout_residence" autocomplete="off">
	</div>
	<div class="col-md-6 mt-3" style="text-align:left;">
		<label for="scout_email" class="form-label">Adresse email</label>
		<input type="email" class="form-control" name="scout_email" autocomplete="off">
	</div>
	<div class="col-md-6 mt-3" style="text-align:left;">
		<label for="scout_contact" class="form-label">Contact</label>
		<input type="text" class="form-control" name="scout_contact" autocomplete="off">
	</div>
</div>
