<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>{% block title %}SYGESCA 4 : {% endblock %}</title>
	<link rel="shortcut icon" href="{{ absolute_url(asset('assets/images/ascci.png')) }}">
	<link rel="stylesheet" href="{{ absolute_url(asset('assets/css/login.css')) }}">
</head>
<body>
<div class="center">
	{% block body %}{% endblock %}
</div>

</body>
</html>
